#gif_place{
    font-size: 32px;
    font-family: "Arial", "Times New Roman";
}

#speed_pointer{
    font-size: 14px;
    font-family: "Arial", "Times New Roman";
}

#speed_indicator{
    font-size: 14px;
    font-family: "Arial", "Times New Roman";
}